<a href="https://colab.research.google.com/github/NarawitPrathansap/bsc_dpbm22/blob/main/%5Bdataprep1%5Dproperty_estimator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##quiz

In [260]:
import pandas as pd
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [261]:
home = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=0)
home.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

## นักประเมินคนที่ 1

In [262]:
est1_home = home[home['ID ผู้ประเมิน']==1]

In [263]:
est1_home.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

## นักประเมินคนที่ 2

In [264]:
est2_home = home[home['ID ผู้ประเมิน']==2]

In [265]:
est2_home.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,9.000000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.240733e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,2.714815e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.860000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,4.000000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,5.000000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

### นักประเมินคนที่ 1 ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [266]:
est1_home['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

In [267]:
est1_home['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [268]:
est1_home.describe()['ประเมินราคาซื้อ-ขาย']

count    1.000000e+02
mean     3.938500e+06
std      2.368553e+06
min      6.000000e+05
25%      2.775000e+06
50%      3.600000e+06
75%      4.500000e+06
max      1.600000e+07
Name: ประเมินราคาซื้อ-ขาย, dtype: float64

### นักประเมินคนที่ 2 ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [269]:
est2_home['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

In [270]:
est2_home['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ       89
ไม่มั่นใจ     1
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [271]:
est2_home.describe()['ประเมินราคาซื้อ-ขาย']

count    8.900000e+01
mean     4.153258e+06
std      2.386901e+06
min      9.900000e+05
25%      2.600000e+06
50%      3.900000e+06
75%      4.900000e+06
max      1.700000e+07
Name: ประเมินราคาซื้อ-ขาย, dtype: float64

#เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนของราคาตั้งขาย

## บ้าน

### สร้างตาราง

In [272]:
est2_home['ประเมินโดย2']  = est2_home['post id'].map(est2_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-272-a017043473c2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_home['ประเมินโดย2']  = est2_home['post id'].map(est2_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [273]:
est2_home['ประเมินโดย1'] = est2_home['post id'].map(est1_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_home.head()

<ipython-input-273-b224819e6b7e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_home['ประเมินโดย1'] = est2_home['post id'].map(est1_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมินโดย2,ประเมินโดย1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2700000.0,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2400000.0,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,9000000.0,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3700000.0,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0,2500000.0

In [274]:
home_mape = est2_home[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0
...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0

### Check missing

In [275]:
home_mape.isnull().any()

post id        False
ราคาทรัพย์     False
ประเมินโดย1    False
ประเมินโดย2     True
dtype: bool

In [276]:
home_mape.fillna(0, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [277]:
home_mape.isnull().any()

post id        False
ราคาทรัพย์     False
ประเมินโดย1    False
ประเมินโดย2    False
dtype: bool

### MAPE

In [278]:
from sklearn.metrics import mean_absolute_percentage_error

In [279]:
a = home_mape['ราคาทรัพย์']
a_pred_1 = home_mape['ประเมินโดย1']
a_pred_2 = home_mape['ประเมินโดย2']

In [280]:
mean_absolute_percentage_error(a,a_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(a,a_pred_1 )}')

ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.12295717665618242

In [281]:
mean_absolute_percentage_error(a,a_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(a,a_pred_2 )}')

ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(บ้าน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.11413046131476379

In [282]:
mean_absolute_percentage_error(a_pred_1,a_pred_2 )
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(a_pred_1,a_pred_2 )}')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.14585778471050984

## ที่ดิน

In [283]:
land = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=1)
land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,3000000.0,12000-18000,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN

In [284]:
land.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย                True
ปัจจัยในการประเมินราคาซื้อ-ขาย     True
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                     True
Unnamed: 9                         True
Unnamed: 10                        True
Unnamed: 11                        True
Unnamed: 12                        True
dtype: bool

In [285]:
land.fillna(0,inplace = True)

In [286]:
land.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย               False
ปัจจัยในการประเมินราคาซื้อ-ขาย    False
เหตุผลไม่มั่นใจราคาประเมิน        False
ให้คะแนนทรัพย์                    False
Unnamed: 9                        False
Unnamed: 10                       False
Unnamed: 11                       False
Unnamed: 12                       False
dtype: bool

In [287]:
land['ID ผู้ประเมิน'].unique()

array([1, 2, 4])

### สร้างตาราง

In [288]:
est1_land = land [land ['ID ผู้ประเมิน']==1]

In [289]:
est2_land = land [land ['ID ผู้ประเมิน']==2]

In [290]:
est1_land['ประเมินโดย1']  = est1_land['post id'].map(est1_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-290-9abd320c0b45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land['ประเมินโดย1']  = est1_land['post id'].map(est1_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [291]:
est1_land['ประเมินโดย2']  = est1_land['post id'].map(est2_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-291-88d3795377e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land['ประเมินโดย2']  = est1_land['post id'].map(est2_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [292]:
est1_land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",0,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,0.0,100.0,1800000.0,2000000.0
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",0,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,0.0,0.0,8000000.0,12000000.0
6,1,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,18000000.0,"8,000-35,000",0,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,0.0,0.0,18000000.0,70000000.0
9,1,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,35000000.0,"15,000-50,000",0,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,0.0,0.0,35000000.0,60000000.0
12,1,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2200000.0,"10,000-20,000",0,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,0.0,0.0,2200000.0,2500000.0

In [293]:
land_mape = est1_land[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
land_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0
3,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0
9,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0
12,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0
...,...,...,...,...
201,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0
205,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0
207,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0
209,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0

### Check missing

In [294]:
land_mape.isnull().any()

post id        False
ราคาทรัพย์     False
ประเมินโดย1    False
ประเมินโดย2    False
dtype: bool

### MAPE

In [295]:
from sklearn.metrics import mean_absolute_percentage_error

In [296]:
b = land_mape['ราคาทรัพย์']
b_pred_1 = land_mape['ประเมินโดย1']
b_pred_2 = land_mape['ประเมินโดย2']

In [297]:
mean_absolute_percentage_error(b,b_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(b,b_pred_1 )}')

ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(ที่ดิน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.41337842594528956

In [298]:
mean_absolute_percentage_error(b,b_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b,b_pred_2 )}')

ค่า MAPE ระหว่าง ราคาที่ตั้งขาย(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.40118780382843416

In [299]:
mean_absolute_percentage_error(b_pred_1,b_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b_pred_1,b_pred_2 )}')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.7407933970315449

## คอนโด

In [300]:
condo = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=2)
condo.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10
0,1,32.0,คอนโด,มั่นใจ,3500000.0,3500000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1,1,36.0,คอนโด,มั่นใจ,1930000.0,2200000.0,"50,000-90,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,1,603.0,คอนโด,มั่นใจ,2438000.0,2800000.0,"35,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,1395.0,คอนโด,มั่นใจ,1600000.0,2300000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,1443.0,คอนโด,มั่นใจ,1860000.0,1800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

In [301]:
condo['ID ผู้ประเมิน'].unique()

array([1])

In [302]:
condo['ประเมินโดย1'] = condo['ประเมินราคาซื้อ-ขาย']

In [303]:
condo_mape = condo[['post id','ราคาทรัพย์','ประเมินโดย1']]
condo_mape

   post id  ราคาทรัพย์  ประเมินโดย1
0     32.0   3500000.0    3500000.0
1     36.0   1930000.0    2200000.0
2    603.0   2438000.0    2800000.0
3   1395.0   1600000.0    2300000.0
4   1443.0   1860000.0    1800000.0
5   1609.0   1490000.0    1500000.0
6   1640.0   1280000.0    1600000.0
7   1641.0   4290000.0    2700000.0
8   1650.0   1700000.0    1550000.0
9   1840.0   3790000.0    2800000.0

### MAPE

In [304]:
from sklearn.metrics import mean_absolute_percentage_error

In [305]:
c = condo_mape['ราคาทรัพย์']
c_pred_1 = condo_mape['ประเมินโดย1']

In [306]:
mean_absolute_percentage_error(c,c_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(c,c_pred_1 )}')

ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.17349265946250259

## ทาว์นโฮม

In [307]:
townhome = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=3)
townhome.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN

### สร้างตาราง

In [308]:
est1_townhome = townhome [townhome ['ID ผู้ประเมิน']==1]

In [309]:
est2_townhome = townhome [townhome ['ID ผู้ประเมิน']==2]

In [310]:
print(len(est1_townhome))
print(len(est2_townhome))

120
120

In [311]:
est1_townhome['ประเมินโดย1']  = est1_townhome['post id'].map(est1_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-311-87c88ec3b543>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_townhome['ประเมินโดย1']  = est1_townhome['post id'].map(est1_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [312]:
est1_townhome['ประเมินโดย2']  = est1_townhome['post id'].map(est2_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est1_townhome.head()

<ipython-input-312-cd110fbc2de3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_townhome['ประเมินโดย2']  = est1_townhome['post id'].map(est2_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0,700000.0,1500000.0
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,700000.0,1500000.0
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,3500000.0,4000000.0
6,1,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0,3200000.0
8,1,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,1000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0,800000.0

In [313]:
townhome_mape = est1_townhome[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
townhome_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0
4,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0
6,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0
8,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0
...,...,...,...,...
125,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0
126,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0
127,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0
128,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0
129,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0

### Check missing

In [315]:
townhome_mape.isnull().any()

post id        False
ราคาทรัพย์     False
ประเมินโดย1    False
ประเมินโดย2    False
dtype: bool

### MAPE

In [316]:
from sklearn.metrics import mean_absolute_percentage_error

In [319]:
d = townhome_mape['ราคาทรัพย์']
d_pred_1 = townhome_mape['ประเมินโดย1']
d_pred_2 = townhome_mape['ประเมินโดย2']

In [320]:
mean_absolute_percentage_error(d,d_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(d,d_pred_1 )}')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.11373507980201533

In [321]:
mean_absolute_percentage_error(d,d_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม)  และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(d,d_pred_2 )}')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม)  และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.08766742521930593

In [322]:
mean_absolute_percentage_error(d_pred_1,d_pred_2 )
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(d_pred_1,d_pred_2 )}')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.1121168528826893

## อาคารพาณิชย์

In [314]:
commercial = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=4)
commercial.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN

### สร้างตาราง

In [323]:
est1_commercial = commercial [commercial ['ID ผู้ประเมิน']==1]

In [324]:
est2_commercial = commercial [commercial ['ID ผู้ประเมิน']==2]

In [325]:
print(len(est1_commercial))
print(len(est2_commercial))

10
10

In [326]:
est1_commercial['ประเมินโดย1']  = est1_commercial['post id'].map(est1_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-326-ebf7e069d23b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_commercial['ประเมินโดย1']  = est1_commercial['post id'].map(est1_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [329]:
est1_commercial['ประเมินโดย2']  = est1_commercial['post id'].map(est2_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est1_commercial.head(3)

<ipython-input-329-374a98500130>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_commercial['ประเมินโดย2']  = est1_commercial['post id'].map(est2_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0,6000000.0,8000000.0
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,12000000.0,12000000.0
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,13500000.0,20000000.0

In [331]:
commercial_mape = est1_commercial[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
commercial_mape

                                post id  ราคาทรัพย์  ประเมินโดย1  ประเมินโดย2
0     https://nayoo.co/khonkaen/posts/6   7000000.0    6000000.0    8000000.0
2    https://nayoo.co/khonkaen/posts/17  12000000.0   12000000.0   12000000.0
4    https://nayoo.co/khonkaen/posts/21  22500000.0   13500000.0   20000000.0
6    https://nayoo.co/khonkaen/posts/22   3500000.0    4000000.0    4000000.0
8    https://nayoo.co/khonkaen/posts/24   3900000.0    2200000.0    3000000.0
10   https://nayoo.co/khonkaen/posts/30   4800000.0    3600000.0    4000000.0
12   https://nayoo.co/khonkaen/posts/35   2400000.0    2500000.0    2100000.0
14  https://nayoo.co/khonkaen/posts/497   5000000.0    3800000.0    5000000.0
16  https://nayoo.co/khonkaen/posts/498   7000000.0    7000000.0    8000000.0
18  https://nayoo.co/khonkaen/posts/499   9000000.0    8000000.0   10000000.0

### Check missing

In [332]:
commercial_mape.isnull().any()

post id        False
ราคาทรัพย์     False
ประเมินโดย1    False
ประเมินโดย2    False
dtype: bool

### MAPE

In [333]:
from sklearn.metrics import mean_absolute_percentage_error

In [334]:
e = commercial_mape['ราคาทรัพย์']
e_pred_1 = commercial_mape['ประเมินโดย1']
e_pred_2 = commercial_mape['ประเมินโดย2']

In [335]:
mean_absolute_percentage_error(e,e_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(e,e_pred_1 )}')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 0.17643894993894996

In [336]:
mean_absolute_percentage_error(e,e_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(e,e_pred_2 )}')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.11732295482295482

In [337]:
mean_absolute_percentage_error(e_pred_1,e_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(e_pred_1,e_pred_2 )}')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 0.2158208906103643