<a href="https://colab.research.google.com/github/NarawitPrathansap/bsc_dpbm22/blob/main/%5Bdataprep1%5Dproperty_estimator2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##quiz

In [1]:
import pandas as pd
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [2]:
home = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=0)
home.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

## นักประเมินคนที่ 1

In [3]:
est1_home = home[home['ID ผู้ประเมิน']==1]

In [4]:
est1_home.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

## นักประเมินคนที่ 2

In [5]:
est2_home = home[home['ID ผู้ประเมิน']==2]

In [6]:
est2_home.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,9.000000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.240733e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,2.714815e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.860000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,4.000000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,5.000000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

### นักประเมินคนที่ 1 ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [7]:
est1_home['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

In [8]:
est1_home['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [9]:
est1_home.describe()['ประเมินราคาซื้อ-ขาย']

count    1.000000e+02
mean     3.938500e+06
std      2.368553e+06
min      6.000000e+05
25%      2.775000e+06
50%      3.600000e+06
75%      4.500000e+06
max      1.600000e+07
Name: ประเมินราคาซื้อ-ขาย, dtype: float64

### นักประเมินคนที่ 2 ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [10]:
est2_home['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

In [11]:
est2_home['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ       89
ไม่มั่นใจ     1
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [12]:
est2_home.describe()['ประเมินราคาซื้อ-ขาย']

count    8.900000e+01
mean     4.153258e+06
std      2.386901e+06
min      9.900000e+05
25%      2.600000e+06
50%      3.900000e+06
75%      4.900000e+06
max      1.700000e+07
Name: ประเมินราคาซื้อ-ขาย, dtype: float64

#เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนของราคาตั้งขาย

## บ้าน

### สร้างตาราง

In [13]:
est2_home['ประเมินโดย2']  = est2_home['post id'].map(est2_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-13-a017043473c2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_home['ประเมินโดย2']  = est2_home['post id'].map(est2_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [14]:
est2_home['ประเมินโดย1'] = est2_home['post id'].map(est1_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_home.head()

<ipython-input-14-b224819e6b7e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_home['ประเมินโดย1'] = est2_home['post id'].map(est1_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมินโดย2,ประเมินโดย1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2700000.0,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2400000.0,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,9000000.0,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3700000.0,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0,2500000.0

In [15]:
home_mape = est2_home[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
home_mape.isnull().any()
home_mape = home_mape.dropna(subset= ['ประเมินโดย2'])

In [16]:
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0
...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0

### MAPE

In [17]:
from sklearn.metrics import mean_absolute_percentage_error #as MAPE

In [18]:
a = home_mape['ราคาทรัพย์']
a_pred_1 = home_mape['ประเมินโดย1']
a_pred_2 = home_mape['ประเมินโดย2']

In [19]:
mean_absolute_percentage_error(a,a_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(a,a_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 12.32%

In [20]:
mean_absolute_percentage_error(a,a_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(a,a_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 10.42%

In [21]:
mean_absolute_percentage_error(a_pred_1,a_pred_2 )
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(a_pred_1,a_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 13.63%

## ที่ดิน

In [22]:
land = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=1)
land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,3000000.0,12000-18000,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN

### สร้างตาราง

In [23]:
est1_land = land [land ['ID ผู้ประเมิน']==1]

In [24]:
est2_land = land [land ['ID ผู้ประเมิน']==2]

In [25]:
est1_land['ประเมินโดย1']  = est1_land['post id'].map(est1_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-25-9abd320c0b45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land['ประเมินโดย1']  = est1_land['post id'].map(est1_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [26]:
est1_land['ประเมินโดย2']  = est1_land['post id'].map(est2_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-26-88d3795377e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land['ประเมินโดย2']  = est1_land['post id'].map(est2_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [27]:
est1_land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0,1800000.0,2000000.0
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0,12000000.0
6,1,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,18000000.0,"8,000-35,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0,70000000.0
9,1,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,35000000.0,"15,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0,60000000.0
12,1,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2200000.0,"10,000-20,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0,2500000.0

In [28]:
land_mape = est1_land[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
land_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0
3,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0
9,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0
12,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0
...,...,...,...,...
201,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0
205,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0
207,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0
209,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0

### MAPE

In [29]:
b = land_mape['ราคาทรัพย์']
b_pred_1 = land_mape['ประเมินโดย1']
b_pred_2 = land_mape['ประเมินโดย2']

In [30]:
mean_absolute_percentage_error(b,b_pred_1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์ และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b,b_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์ และ ราคาของผู้ประเมินคนที่2 เท่ากับ 41.34%

In [31]:
mean_absolute_percentage_error(b,b_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b,b_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 40.12%

In [32]:
mean_absolute_percentage_error(b_pred_1,b_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b_pred_1,b_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 74.08%

## คอนโด

In [33]:
condo = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=2)
condo.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10
0,1,32.0,คอนโด,มั่นใจ,3500000.0,3500000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1,1,36.0,คอนโด,มั่นใจ,1930000.0,2200000.0,"50,000-90,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,1,603.0,คอนโด,มั่นใจ,2438000.0,2800000.0,"35,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,1395.0,คอนโด,มั่นใจ,1600000.0,2300000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,1443.0,คอนโด,มั่นใจ,1860000.0,1800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

In [34]:
condo['ประเมินโดย1'] = condo['ประเมินราคาซื้อ-ขาย']

In [35]:
condo_mape = condo[['post id','ราคาทรัพย์','ประเมินโดย1']]
condo_mape

   post id  ราคาทรัพย์  ประเมินโดย1
0     32.0   3500000.0    3500000.0
1     36.0   1930000.0    2200000.0
2    603.0   2438000.0    2800000.0
3   1395.0   1600000.0    2300000.0
4   1443.0   1860000.0    1800000.0
5   1609.0   1490000.0    1500000.0
6   1640.0   1280000.0    1600000.0
7   1641.0   4290000.0    2700000.0
8   1650.0   1700000.0    1550000.0
9   1840.0   3790000.0    2800000.0

### MAPE

In [36]:
c = condo_mape['ราคาทรัพย์']
c_pred_1 = condo_mape['ประเมินโดย1']

In [37]:
mean_absolute_percentage_error(c,c_pred_1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(c,c_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 17.35%

## ทาว์นโฮม

In [38]:
townhome = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=3)
townhome.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN

### สร้างตาราง

In [39]:
est1_townhome = townhome [townhome ['ID ผู้ประเมิน']==1]

In [40]:
est2_townhome = townhome [townhome ['ID ผู้ประเมิน']==2]

In [41]:
print(len(est1_townhome))
print(len(est2_townhome))

120
120

In [42]:
est1_townhome['ประเมินโดย1']  = est1_townhome['post id'].map(est1_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-42-87c88ec3b543>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_townhome['ประเมินโดย1']  = est1_townhome['post id'].map(est1_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [43]:
est1_townhome['ประเมินโดย2']  = est1_townhome['post id'].map(est2_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est1_townhome.head()

<ipython-input-43-cd110fbc2de3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_townhome['ประเมินโดย2']  = est1_townhome['post id'].map(est2_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0,700000.0,1500000.0
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,700000.0,1500000.0
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,3500000.0,4000000.0
6,1,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0,3200000.0
8,1,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,1000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0,800000.0

In [44]:
townhome_mape = est1_townhome[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
townhome_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0
4,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0
6,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0
8,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0
...,...,...,...,...
125,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0
126,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0
127,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0
128,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0
129,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0

### MAPE

In [45]:
d = townhome_mape['ราคาทรัพย์']
d_pred_1 = townhome_mape['ประเมินโดย1']
d_pred_2 = townhome_mape['ประเมินโดย2']

In [46]:
mean_absolute_percentage_error(d,d_pred_1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(d,d_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 11.37%

In [47]:
mean_absolute_percentage_error(d,d_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม)  และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(d,d_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม)  และ ราคาของผู้ประเมินคนที่2 เท่ากับ 8.77%

In [48]:
mean_absolute_percentage_error(d_pred_1,d_pred_2)
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(d_pred_1,d_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 11.21%

## อาคารพาณิชย์

In [49]:
commercial = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=4)
commercial.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN

### สร้างตาราง

In [50]:
est1_commercial = commercial [commercial ['ID ผู้ประเมิน']==1]

In [51]:
est2_commercial = commercial [commercial ['ID ผู้ประเมิน']==2]

In [52]:
print(len(est1_commercial))
print(len(est2_commercial))

10
10

In [53]:
est1_commercial['ประเมินโดย1']  = est1_commercial['post id'].map(est1_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-53-ebf7e069d23b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_commercial['ประเมินโดย1']  = est1_commercial['post id'].map(est1_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [54]:
est1_commercial['ประเมินโดย2']  = est1_commercial['post id'].map(est2_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est1_commercial.head(3)

<ipython-input-54-374a98500130>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_commercial['ประเมินโดย2']  = est1_commercial['post id'].map(est2_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0,6000000.0,8000000.0
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,12000000.0,12000000.0
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,13500000.0,20000000.0

In [55]:
commercial_mape = est1_commercial[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
commercial_mape

                                post id  ราคาทรัพย์  ประเมินโดย1  ประเมินโดย2
0     https://nayoo.co/khonkaen/posts/6   7000000.0    6000000.0    8000000.0
2    https://nayoo.co/khonkaen/posts/17  12000000.0   12000000.0   12000000.0
4    https://nayoo.co/khonkaen/posts/21  22500000.0   13500000.0   20000000.0
6    https://nayoo.co/khonkaen/posts/22   3500000.0    4000000.0    4000000.0
8    https://nayoo.co/khonkaen/posts/24   3900000.0    2200000.0    3000000.0
10   https://nayoo.co/khonkaen/posts/30   4800000.0    3600000.0    4000000.0
12   https://nayoo.co/khonkaen/posts/35   2400000.0    2500000.0    2100000.0
14  https://nayoo.co/khonkaen/posts/497   5000000.0    3800000.0    5000000.0
16  https://nayoo.co/khonkaen/posts/498   7000000.0    7000000.0    8000000.0
18  https://nayoo.co/khonkaen/posts/499   9000000.0    8000000.0   10000000.0

### MAPE

In [56]:
e = commercial_mape['ราคาทรัพย์']
e_pred_1 = commercial_mape['ประเมินโดย1']
e_pred_2 = commercial_mape['ประเมินโดย2']

In [57]:
mean_absolute_percentage_error(e,e_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(e,e_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 17.64%

In [58]:
mean_absolute_percentage_error(e,e_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(e,e_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 11.73%

In [59]:
mean_absolute_percentage_error(e_pred_1,e_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(e_pred_1,e_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 21.58%

## เขียน function ตรวจสอบค่าที่เติม 0 ผิด

In [60]:
max(10,2)

10

In [61]:
def check_v(in1,in2):
    return max(in1/in2,in2/in1)

In [62]:
check_v(250,2500)

10.0

In [63]:
check_v(100,12)

8.333333333333334

In [64]:
check_v(100,1200)

12.0

## สร้าง column ใหม่ ลงในตาราง home โดย ค่าใน column คือค่าจาก function check(ราคาตั้งขาย,ราคาประเมิน1)

### บ้าน

In [65]:
#บ้าน
home_mape['check1']=home_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000
...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833

In [66]:
check1 = list()
for row in home_mape.iterrows():
     check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย1']))
check1

[1.08,
 1.1818181818181819,
 1.18,
 1.2571428571428571,
 1.1,
 1.271111111111111,
 1.36,
 1.0153846153846153,
 1.3684,
 1.031941031941032,
 1.0476190476190477,
 1.1785714285714286,
 1.0592592592592593,
 1.188,
 1.1275,
 1.1,
 1.1157142857142857,
 1.0371428571428571,
 1.0588235294117647,
 1.2571428571428571,
 1.13125,
 1.0,
 1.0888888888888888,
 1.0892333472978635,
 1.0444444444444445,
 1.0,
 1.0434782608695652,
 1.02,
 1.25,
 1.13,
 1.0714285714285714,
 1.0,
 1.0,
 1.3833333333333333,
 1.03125,
 1.1611111111111112,
 1.0526315789473684,
 1.5384615384615385,
 1.0227272727272727,
 1.1363636363636365,
 1.1111111111111112,
 1.1290322580645162,
 1.1388888888888888,
 1.0,
 1.0933333333333333,
 1.3093125,
 1.21,
 1.24,
 1.1642857142857144,
 1.1,
 1.4685314685314685,
 1.1111111111111112,
 1.1942857142857144,
 1.0714285714285714,
 1.0710526315789475,
 1.4575,
 1.046,
 1.09375,
 1.044932079414838,
 1.1090909090909091,
 1.1333333333333333,
 1.1866666666666668,
 1.036,
 1.0031347962382444,
 1.0606060606060606,
 1.2,
 1.2340425531914894,
 1.0,
 1.0857142857142856,
 1.1607142857142858,
 1.1290322580645162,
 1.0263929618768328,
 1.1628571428571428,
 1.083720930232558,
 1.1333333333333333,
 1.0526315789473684,
 1.5238095238095237,
 1.0666666666666667,
 1.0167768174885612,
 1.0,
 1.0526315789473684,
 1.0083333333333333,
 1.0697727272727273,
 1.1,
 1.2222222222222223,
 1.521346153846154,
 1.8,
 1.0,
 1.1458333333333333]

In [67]:
home_mape['check1_2'] = check1
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.145833

In [68]:
check2 = list()
for row in home_mape.iterrows():
     check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย2']))
check2

[1.0,
 1.0833333333333333,
 1.5254237288135593,
 1.1891891891891893,
 1.1,
 1.0314685314685315,
 1.050420168067227,
 1.0416666666666667,
 1.1403333333333334,
 1.0175,
 1.0476190476190477,
 1.03125,
 1.0214285714285714,
 1.0607142857142857,
 1.025,
 1.0607142857142857,
 1.0847222222222221,
 1.0371428571428571,
 1.0,
 1.125,
 1.1049723756906078,
 1.1904761904761905,
 1.0888888888888888,
 1.0054461667364893,
 1.0425531914893618,
 1.125,
 1.0434782608695652,
 1.0364145658263306,
 1.0,
 1.0324483775811208,
 1.04,
 1.2,
 1.04,
 1.1318181818181818,
 1.0,
 1.045,
 1.0526315789473684,
 3.3333333333333335,
 1.0227272727272727,
 1.04,
 1.08,
 1.2903225806451613,
 1.1219512195121952,
 1.125,
 1.2195121951219512,
 1.2322941176470588,
 1.0755555555555556,
 1.1366666666666667,
 1.0736196319018405,
 1.1,
 1.048951048951049,
 1.1111111111111112,
 1.045,
 1.0666666666666667,
 1.0435897435897437,
 1.4575,
 1.046,
 1.0857142857142856,
 1.1484,
 1.1090909090909091,
 1.0408163265306123,
 1.1125,
 1.036,
 1.0031347962382444,
 1.1,
 1.1666666666666667,
 1.0344827586206897,
 1.0285714285714285,
 1.0857142857142856,
 1.0,
 1.0769230769230769,
 1.0263929618768328,
 1.031941031941032,
 1.0355555555555556,
 1.0625,
 1.1578947368421053,
 1.0476190476190477,
 1.0227272727272727,
 1.0167768174885612,
 1.125,
 1.05,
 1.05875,
 1.046,
 1.056,
 1.1,
 1.069054054054054,
 1.25,
 1.0256410256410255,
 1.018181818181818]

In [69]:
home_mape['check1_2'] = check1
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.145833

In [70]:
home_mape['check2']=home_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2,check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000,1.000000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000,1.525424
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000,1.100000
...,...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222,1.222222,1.100000
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346,1.069054
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000,1.250000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000,1.025641
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.145833,1.018182

In [71]:
home_mape.sort_values(by=['check1_2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2,check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000,1.250000
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,1.538462,3.333333
177,https://nayoo.co/khonkaen/posts/19450,2100000.0,3200000.0,2200000.0,1.523810,1.523810,1.047619
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346,1.069054
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,4200000.0,3000000.0,1.468531,1.468531,1.048951
...,...,...,...,...,...,...,...
167,https://nayoo.co/khonkaen/posts/9141,3500000.0,3500000.0,3600000.0,1.000000,1.000000,1.028571
51,https://nayoo.co/khonkaen/posts/1149,4000000.0,4000000.0,4500000.0,1.000000,1.000000,1.125000
63,https://nayoo.co/khonkaen/posts/2033,1200000.0,1200000.0,1000000.0,1.000000,1.000000,1.200000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000,1.025641
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1200000.0,1350000.0,1.000000,1.000000,1.125000

In [72]:
home_mape.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2,check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,1.538462,3.333333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000,1.525424
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,3500000.0,4000000.0,1.129032,1.129032,1.290323
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000,1.250000
...,...,...,...,...,...,...,...
169,https://nayoo.co/khonkaen/posts/11264,6500000.0,5600000.0,6500000.0,1.160714,1.160714,1.000000
69,https://nayoo.co/khonkaen/posts/2262,3200000.0,3300000.0,3200000.0,1.031250,1.031250,1.000000
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1500000.0,1200000.0,1.250000,1.250000,1.000000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1700000.0,1800000.0,1.058824,1.058824,1.000000
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000,1.000000

### ที่ดิน

In [73]:
#ที่ดิน
land_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0
3,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0
9,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0
12,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0
...,...,...,...,...
201,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0
205,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0
207,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0
209,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0

In [74]:
land_mape['check1']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
land_mape['check2']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
land_mape

<ipython-input-74-61f9da694d35>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land_mape['check1']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
<ipython-input-74-61f9da694d35>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land_mape['check2']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
0,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0,1.555556,1.400000
3,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0,1.862500,1.241667
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
9,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0,1.857143,1.083333
12,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0,1.363636,1.200000
...,...,...,...,...,...,...
201,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000
205,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0,1.325000,1.060000
207,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
209,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0,1.200000,1.071429

In [75]:
land_mape.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
195,https://nayoo.co/khonkaen/posts/13702,90000000,4500000.0,75000000.0,20.000000,1.200000
113,https://nayoo.co/khonkaen/posts/7955,2600000,32000000.0,2000000.0,12.307692,1.300000
59,https://nayoo.co/khonkaen/posts/9203,160000000,14000000.0,11000000.0,11.428571,14.545455
46,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
...,...,...,...,...,...,...
183,https://nayoo.co/khonkaen/posts/9598,3900000,4000000.0,4000000.0,1.025641,1.025641
79,https://nayoo.co/khonkaen/posts/3447,980000,1000000.0,800000.0,1.020408,1.225000
101,https://nayoo.co/khonkaen/posts/1663,1485000,1500000.0,1200000.0,1.010101,1.237500
123,https://nayoo.co/khonkaen/posts/12762,650000,650000.0,700000.0,1.000000,1.076923
131,https://nayoo.co/khonkaen/posts/1599,2500000,2500000.0,2200000.0,1.000000,1.136364

In [76]:
land_mape.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
59,https://nayoo.co/khonkaen/posts/9203,160000000,14000000.0,11000000.0,11.428571,14.545455
46,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
149,https://nayoo.co/khonkaen/posts/3561,7374550,6000000.0,80000000.0,1.229092,10.848120
189,https://nayoo.co/khonkaen/posts/12250,2300000,2500000.0,24000000.0,1.086957,10.434783
145,https://nayoo.co/khonkaen/posts/3341,1700000,1600000.0,9000000.0,1.062500,5.294118
...,...,...,...,...,...,...
105,https://nayoo.co/khonkaen/posts/1921,8080000,2800000.0,8000000.0,2.885714,1.010000
61,https://nayoo.co/khonkaen/posts/12607,7990000,10000000.0,8000000.0,1.251564,1.001252
159,https://nayoo.co/khonkaen/posts/6732,3500000,2800000.0,3500000.0,1.250000,1.000000
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000
36,https://nayoo.co/khonkaen/posts/3305,14000000,12000000.0,14000000.0,1.166667,1.000000

### ทาวน์โฮม

In [77]:
#ทาวน์โฮม
townhome_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0
4,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0
6,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0
8,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0
...,...,...,...,...
125,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0
126,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0
127,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0
128,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0
129,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0

In [78]:
townhome_mape['check1']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
townhome_mape['check2']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
townhome_mape

<ipython-input-78-67beff5c830d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townhome_mape['check1']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
<ipython-input-78-67beff5c830d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townhome_mape['check2']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
4,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0,1.005714,1.136364
6,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0,1.100000,1.203125
8,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0,1.010101,1.237500
...,...,...,...,...,...,...
125,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0,1.430000,1.191667
126,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0,1.320000,1.164706
127,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0,1.250000,1.052632
128,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0,1.118750,1.052941
129,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0,1.069182,1.069182

In [79]:
townhome_mape.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
66,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
70,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
22,https://nayoo.co/khonkaen/posts/619,1430000.0,950000.0,1000000.0,1.505263,1.430000
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
64,https://nayoo.co/khonkaen/posts/3478,2190000.0,1500000.0,2200000.0,1.460000,1.004566
...,...,...,...,...,...,...
118,https://nayoo.co/khonkaen/posts/17923,1990000.0,2000000.0,2200000.0,1.005025,1.105528
57,https://nayoo.co/khonkaen/posts/2829,2490000.0,2500000.0,2300000.0,1.004016,1.082609
110,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
90,https://nayoo.co/khonkaen/posts/13411,3200000.0,3200000.0,3200000.0,1.000000,1.000000
93,https://nayoo.co/khonkaen/posts/17503,1500000.0,1500000.0,1300000.0,1.000000,1.153846

In [80]:
townhome_mape.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
66,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
124,https://nayoo.co/khonkaen/posts/18090,3000000.0,2800000.0,1500000.0,1.071429,2.000000
70,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
115,https://nayoo.co/khonkaen/posts/17742,2500000.0,2200000.0,1700000.0,1.136364,1.470588
...,...,...,...,...,...,...
78,https://nayoo.co/khonkaen/posts/8101,3200000.0,3300000.0,3200000.0,1.031250,1.000000
110,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
89,https://nayoo.co/khonkaen/posts/12957,1500000.0,1600000.0,1500000.0,1.066667,1.000000
41,https://nayoo.co/khonkaen/posts/1978,2500000.0,2700000.0,2500000.0,1.080000,1.000000
71,https://nayoo.co/khonkaen/posts/6104,2200000.0,2500000.0,2200000.0,1.136364,1.000000

### อาคารพาณิชย์

In [81]:
#อาคารพาณิชย์
commercial_mape

                                post id  ราคาทรัพย์  ประเมินโดย1  ประเมินโดย2
0     https://nayoo.co/khonkaen/posts/6   7000000.0    6000000.0    8000000.0
2    https://nayoo.co/khonkaen/posts/17  12000000.0   12000000.0   12000000.0
4    https://nayoo.co/khonkaen/posts/21  22500000.0   13500000.0   20000000.0
6    https://nayoo.co/khonkaen/posts/22   3500000.0    4000000.0    4000000.0
8    https://nayoo.co/khonkaen/posts/24   3900000.0    2200000.0    3000000.0
10   https://nayoo.co/khonkaen/posts/30   4800000.0    3600000.0    4000000.0
12   https://nayoo.co/khonkaen/posts/35   2400000.0    2500000.0    2100000.0
14  https://nayoo.co/khonkaen/posts/497   5000000.0    3800000.0    5000000.0
16  https://nayoo.co/khonkaen/posts/498   7000000.0    7000000.0    8000000.0
18  https://nayoo.co/khonkaen/posts/499   9000000.0    8000000.0   10000000.0

In [82]:
commercial_mape['check1']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
commercial_mape['check2']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
commercial_mape

<ipython-input-82-f827b84391a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial_mape['check1']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
<ipython-input-82-f827b84391a8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial_mape['check2']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
0,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
2,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
4,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
6,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
8,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
10,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
12,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
14,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
16,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857
18,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111

# HW2 แก้ไข ข้อมูลแล้วคำนวณ MAPE ใหม่อีกรอบมาเทียบกัน

In [83]:
### แก้ ที่ดิน

In [84]:
land.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                        False
ประเมินราคาซื้อ-ขาย                True
ปัจจัยในการประเมินราคาซื้อ-ขาย     True
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                     True
Unnamed: 9                         True
Unnamed: 10                        True
Unnamed: 11                        True
Unnamed: 12                        True
dtype: bool

In [86]:
land2 = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน - Copy.xlsx',sheet_name=1)
land2.head()
land2.isnull().any()

ID ผู้ประเมิน                     False
post id                           False
property_type                     False
ความมั่นใจในการเมินราคาทรัพย์     False
ราคาทรัพย์                         True
ประเมินราคาซื้อ-ขาย                True
ปัจจัยในการประเมินราคาซื้อ-ขาย     True
เหตุผลไม่มั่นใจราคาประเมิน         True
ให้คะแนนทรัพย์                     True
Unnamed: 9                         True
Unnamed: 10                        True
Unnamed: 11                        True
Unnamed: 12                        True
dtype: bool

In [87]:
est1_land2 = land2[land2 ['ID ผู้ประเมิน']==1]
est2_land2 = land2[land2 ['ID ผู้ประเมิน']==2]
est1_land2['ประเมินโดย1']  = est1_land2['post id'].map(est1_land2.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est1_land2['ประเมินโดย2']  = est1_land2['post id'].map(est2_land2.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-87-8b03aa8bd7c7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land2['ประเมินโดย1']  = est1_land2['post id'].map(est1_land2.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
<ipython-input-87-8b03aa8bd7c7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land2['ประเมินโดย2']  = est1_land2['post id'].map(est2_land2.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [90]:
est1_land2 = est1_land2[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
est1_land2 = est1_land2.dropna(subset = ['ราคาทรัพย์'])

In [93]:
b2 = est1_land2['ราคาทรัพย์']
b2_pred_1 = est1_land2['ประเมินโดย1']
b2_pred_2 = est1_land2['ประเมินโดย2']

In [97]:
mean_absolute_percentage_error(b2,b2_pred_1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(b2,b2_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 32.48%

In [99]:
mean_absolute_percentage_error(b2,b2_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b2,b2_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 26.25%

In [100]:
mean_absolute_percentage_error(b2_pred_1,b2_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b2_pred_1,b2_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 52.02%

In [101]:
est1_land2['check1']=est1_land2.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
est1_land2['check2']=est1_land2.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
est1_land2

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
0,https://nayoo.co/khonkaen/posts/1033,2800000.0,1800000.0,2000000.0,1.555556,1.400000
3,https://nayoo.co/khonkaen/posts/1711,14900000.0,8000000.0,12000000.0,1.862500,1.241667
6,https://nayoo.co/khonkaen/posts/1726,90000000.0,18000000.0,70000000.0,5.000000,1.285714
9,https://nayoo.co/khonkaen/posts/1732,65000000.0,35000000.0,60000000.0,1.857143,1.083333
12,https://nayoo.co/khonkaen/posts/1866,3000000.0,2200000.0,2500000.0,1.363636,1.200000
15,https://nayoo.co/khonkaen/posts/1962,6000000.0,4000000.0,5000000.0,1.500000,1.200000
18,https://nayoo.co/khonkaen/posts/2007,16500000.0,3500000.0,13000000.0,4.714286,1.269231
21,https://nayoo.co/khonkaen/posts/2040,2200000.0,2500000.0,2500000.0,1.136364,1.136364
24,https://nayoo.co/khonkaen/posts/2045,12000000.0,7500000.0,10000000.0,1.600000,1.200000
27,https://nayoo.co/khonkaen/posts/2068,6700000.0,5600000.0,6000000.0,1.196429,1.116667
30,https://nayoo.co/khonkaen/posts/2194,2400000.0,2000000.0,1800000.0,1.200000,1.333333
32,https://nayoo.co/khonkaen/posts/2206,6000000.0,5000000.0,5500000.0,1.200000,1.090909
34,https://nayoo.co/khonkaen/posts/3219,4500000.0,4000000.0,1600000.0,1.125000,2.812500
36,https://nayoo.co/khonkaen/posts/3305,14000000.0,12000000.0,14000000.0,1.166667,1.000000
38,https://nayoo.co/khonkaen/posts/3515,3300000.0,3150000.0,3500000.0,1.047619,1.060606
40,https://nayoo.co/khonkaen/posts/3601,2300000.0,1900000.0,1200000.0,1.210526,1.916667
71,https://nayoo.co/khonkaen/posts/1639,3000000.0,12000000.0,3500000.0,4.000000,1.166667
73,https://nayoo.co/khonkaen/posts/1861,12000000.0,10000000.0,10000000.0,1.200000,1.200000
77,https://nayoo.co/khonkaen/posts/1716,28000000.0,22000000.0,25000000.0,1.272727,1.120000
79,https://nayoo.co/khonkaen/posts/3447,980000.0,1000000.0,800000.0,1.020408,1.225000
101,https://nayoo.co/khonkaen/posts/1663,1485000.0,1500000.0,1200000.0,1.010101,1.237500
103,https://nayoo.co/khonkaen/posts/1685,2900000.0,1600000.0,2500000.0,1.812500,1.160000
105,https://nayoo.co/khonkaen/posts/1921,8080000.0,2800000.0,8000000.0,2.885714,1.010000
107,https://nayoo.co/khonkaen/posts/2151,1390000.0,1000000.0,1200000.0,1.390000,1.158333
109,https://nayoo.co/khonkaen/posts/2199,1300000.0,1000000.0,1200000.0,1.300000,1.083333
111,https://nayoo.co/khonkaen/posts/3227,1390000.0,1000000.0,1200000.0,1.390000,1.158333
129,https://nayoo.co/khonkaen/posts/600,13162000.0,12000000.0,12000000.0,1.096833,1.096833
131,https://nayoo.co/khonkaen/posts/1599,2500000.0,2500000.0,2200000.0,1.000000,1.136364
133,https://nayoo.co/khonkaen/posts/1638,4500000.0,2000000.0,4000000.0,2.250000,1.125000
135,https://nayoo.co/khonkaen/posts/1828,850000.0,1000000.0,800000.0,1.176471,1.062500
137,https://nayoo.co/khonkaen/posts/2499,5900000.0,5200000.0,5000000.0,1.134615,1.180000
139,https://nayoo.co/khonkaen/posts/2510,15000000.0,12000000.0,12000000.0,1.250000,1.250000
141,https://nayoo.co/khonkaen/posts/3196,950000.0,800000.0,900000.0,1.187500,1.055556
143,https://nayoo.co/khonkaen/posts/3239,1900000.0,1200000.0,1500000.0,1.583333,1.266667
145,https://nayoo.co/khonkaen/posts/3341,1700000.0,1600000.0,9000000.0,1.062500,5.294118
147,https://nayoo.co/khonkaen/posts/3506,12075000.0,10000000.0,10000000.0,1.207500,1.207500
149,https://nayoo.co/khonkaen/posts/3561,7374550.0,6000000.0,8000000.0,1.229092,1.084812
151,https://nayoo.co/khonkaen/posts/3576,2000000.0,1600000.0,2200000.0,1.250000,1.100000
153,https://nayoo.co/khonkaen/posts/3593,2500000.0,3200000.0,2200000.0,1.280000,1.136364
155,https://nayoo.co/khonkaen/posts/5194,12075000.0,10000000.0,10000000.0,1.207500,1.207500