<a href="https://colab.research.google.com/github/NarawitPrathansap/bsc_dpbm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [2]:
X = iris_data['data']
y =iris_data['target']

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold
from sklearn.datasets import load_iris

model = DecisionTreeClassifier()

# Define the k-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.10)

In [4]:
model = DecisionTreeClassifier(max_depth=2)

# Define the k-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.12)

In [5]:
from sklearn.model_selection import LeaveOneOut

In [6]:
model = DecisionTreeClassifier(max_depth=2)

# Define the k-fold cross validation
LOO = LeaveOneOut()

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=LOO)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.42)

transform numpy array to dataframe

In [7]:
import pandas as pd

In [8]:
columns = iris_data['feature_names']
X_df = pd.DataFrame(X,columns=columns)

In [9]:
X_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [10]:
X_df['label'] = y
X_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [11]:
shuffled_df = X_df.sample(frac=1, random_state=6)
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
4,5.0,3.6,1.4,0.2,0
116,6.5,3.0,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0
23,5.1,3.3,1.7,0.5,0
123,6.3,2.7,4.9,1.8,2
...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2
79,5.7,2.6,3.5,1.0,1
109,7.2,3.6,6.1,2.5,2
106,4.9,2.5,4.5,1.7,2
138,6.0,3.0,4.8,1.8,2

In [12]:
shuffled_df['fold']=15*[1,2,3,4,5,6,7,8,9,10]

In [13]:
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

# HW6 วนลูปทำ 10-fold cross validation

In [14]:
import numpy as np
from sklearn.model_selection import StratifiedKFold, KFold,cross_val_score,train_test_split
from sklearn.linear_model import LogisticRegression

In [15]:
shuffled_df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'label', 'fold'],
      dtype='object')

In [16]:
selected_rows = shuffled_df.loc[shuffled_df['fold'] == 5]
selected_rows

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
123,6.3,2.7,4.9,1.8,2,5
74,6.4,2.9,4.3,1.3,1,5
55,5.7,2.8,4.5,1.3,1,5
133,6.3,2.8,5.1,1.5,2,5
46,5.1,3.8,1.6,0.2,0,5
111,6.4,2.7,5.3,1.9,2,5
94,5.6,2.7,4.2,1.3,1,5
147,6.5,3.0,5.2,2.0,2,5
21,5.1,3.7,1.5,0.4,0,5
36,5.5,3.5,1.3,0.2,0,5
141,6.9,3.1,5.1,2.3,2,5
40,5.0,3.5,1.3,0.3,0,5
63,6.1,2.9,4.7,1.4,1,5
130,7.4,2.8,6.1,1.9,2,5
80,5.5,2.4,3.8,1.1,1,5

In [17]:
unselected_rows = shuffled_df.loc[shuffled_df['fold'] != 5]
unselected_rows

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
96,5.7,2.9,4.2,1.3,1,6
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

In [18]:
model = DecisionTreeClassifier()

In [19]:
i = len(shuffled_df['fold'].unique())

In [20]:
kf = KFold(n_splits=i)

In [21]:
scores = cross_val_score(model, X, y, cv=kf)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.13)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

for i in range(1, 11):
  selected_rows = shuffled_df.loc[shuffled_df['fold'] == i]
  unselected_rows = shuffled_df.loc[shuffled_df['fold'] != i]
  
  X = unselected_rows[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]
  y = unselected_rows['label']
  
  model = DecisionTreeClassifier(random_state=6)
  scores = cross_val_score(model, X, y, cv=10)
  
  print("Fold %d Accuracy: %0.2f (+/- %0.2f)" % (i, scores.mean(), scores.std() * 2))

Fold 1 Accuracy: 0.98 (+/- 0.07)
Fold 2 Accuracy: 0.96 (+/- 0.07)
Fold 3 Accuracy: 0.97 (+/- 0.07)
Fold 4 Accuracy: 0.96 (+/- 0.07)
Fold 5 Accuracy: 0.96 (+/- 0.07)
Fold 6 Accuracy: 0.94 (+/- 0.09)
Fold 7 Accuracy: 0.96 (+/- 0.10)
Fold 8 Accuracy: 0.96 (+/- 0.07)
Fold 9 Accuracy: 0.96 (+/- 0.10)
Fold 10 Accuracy: 0.96 (+/- 0.10)

In [23]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
#for row,i in shuffled_df.iterrows():
  #i = range(1,11)
  #selected_rows = shuffled_df.loc[shuffled_df['fold'] == i]
  #unselected_rows = shuffled_df.loc[shuffled_df['fold'] != i]
  
  #X = unselected_rows[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)','petal width (cm)']]
  #y = unselected_rows['label']
  #model = DecisionTreeClassifier(random_state=6)
  #scores = cross_val_score(model, X, y,cv=10)
  #print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))