<a href="https://colab.research.google.com/github/NarawitPrathansap/bsc_dpbm22/blob/main/Performance_Evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn import datasets
iris_data = datasets.load_iris()

In [2]:
X = iris_data['data']
y =iris_data['target']

In [3]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold
from sklearn.datasets import load_iris

model = DecisionTreeClassifier()

# Define the k-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.10)

In [4]:
model = DecisionTreeClassifier(max_depth=2)

# Define the k-fold cross validation
kf = KFold(n_splits=10, shuffle=True, random_state=42)

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=kf)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.12)

In [5]:
from sklearn.model_selection import LeaveOneOut

In [6]:
model = DecisionTreeClassifier(max_depth=2)

# Define the k-fold cross validation
LOO = LeaveOneOut()

# Train and evaluate the model using 10-fold cross validation
scores = cross_val_score(model, X, y, cv=LOO)

# Print the average accuracy and standard deviation across all folds
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.95 (+/- 0.42)

transform numpy array to dataframe

In [7]:
import pandas as pd

In [8]:
columns = iris_data['feature_names']
X_df = pd.DataFrame(X,columns=columns)

In [9]:
X_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [10]:
X_df['label'] = y
X_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [11]:
shuffled_df = X_df.sample(frac=1, random_state=6)
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
4,5.0,3.6,1.4,0.2,0
116,6.5,3.0,5.5,1.8,2
2,4.7,3.2,1.3,0.2,0
23,5.1,3.3,1.7,0.5,0
123,6.3,2.7,4.9,1.8,2
...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2
79,5.7,2.6,3.5,1.0,1
109,7.2,3.6,6.1,2.5,2
106,4.9,2.5,4.5,1.7,2
138,6.0,3.0,4.8,1.8,2

In [12]:
shuffled_df['fold']=15*[1,2,3,4,5,6,7,8,9,10]

In [13]:
shuffled_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
123,6.3,2.7,4.9,1.8,2,5
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

# HW6 วนลูปทำ 10-fold cross validation

In [14]:
import numpy as np
from sklearn.model_selection import StratifiedKFold, KFold,cross_val_score,train_test_split
from sklearn.linear_model import LogisticRegression

In [15]:
shuffled_df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'label', 'fold'],
      dtype='object')

In [16]:
selected_rows = shuffled_df.loc[shuffled_df['fold'] == 5]
selected_rows

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
123,6.3,2.7,4.9,1.8,2,5
74,6.4,2.9,4.3,1.3,1,5
55,5.7,2.8,4.5,1.3,1,5
133,6.3,2.8,5.1,1.5,2,5
46,5.1,3.8,1.6,0.2,0,5
111,6.4,2.7,5.3,1.9,2,5
94,5.6,2.7,4.2,1.3,1,5
147,6.5,3.0,5.2,2.0,2,5
21,5.1,3.7,1.5,0.4,0,5
36,5.5,3.5,1.3,0.2,0,5
141,6.9,3.1,5.1,2.3,2,5
40,5.0,3.5,1.3,0.3,0,5
63,6.1,2.9,4.7,1.4,1,5
130,7.4,2.8,6.1,1.9,2,5
80,5.5,2.4,3.8,1.1,1,5

In [17]:
unselected_rows = shuffled_df.loc[shuffled_df['fold'] != 5]
unselected_rows

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,fold
4,5.0,3.6,1.4,0.2,0,1
116,6.5,3.0,5.5,1.8,2,2
2,4.7,3.2,1.3,0.2,0,3
23,5.1,3.3,1.7,0.5,0,4
96,5.7,2.9,4.2,1.3,1,6
...,...,...,...,...,...,...
148,6.2,3.4,5.4,2.3,2,6
79,5.7,2.6,3.5,1.0,1,7
109,7.2,3.6,6.1,2.5,2,8
106,4.9,2.5,4.5,1.7,2,9
138,6.0,3.0,4.8,1.8,2,10

In [18]:
model = DecisionTreeClassifier()

In [19]:
i = len(shuffled_df['fold'].unique())

In [20]:
kf = KFold(n_splits=i)

In [21]:
scores = cross_val_score(model, X, y, cv=kf)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

Accuracy: 0.94 (+/- 0.16)

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

for i in range(1, 11):
  selected_rows = shuffled_df.loc[shuffled_df['fold'] == i]
  unselected_rows = shuffled_df.loc[shuffled_df['fold'] != i]
  
  X = unselected_rows[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]
  y = unselected_rows['label']
  
  model = DecisionTreeClassifier(random_state=6)
  scores = cross_val_score(model, X, y, cv=10)
  
  print("Fold %d Accuracy: %0.2f (+/- %0.2f)" % (i, scores.mean(), scores.std() * 2))

Fold 1 Accuracy: 0.98 (+/- 0.07)
Fold 2 Accuracy: 0.96 (+/- 0.07)
Fold 3 Accuracy: 0.97 (+/- 0.07)
Fold 4 Accuracy: 0.96 (+/- 0.07)
Fold 5 Accuracy: 0.96 (+/- 0.07)
Fold 6 Accuracy: 0.94 (+/- 0.09)
Fold 7 Accuracy: 0.96 (+/- 0.10)
Fold 8 Accuracy: 0.96 (+/- 0.07)
Fold 9 Accuracy: 0.96 (+/- 0.10)
Fold 10 Accuracy: 0.96 (+/- 0.10)

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

for i in range(1, 11):
  selected_rows = shuffled_df.loc[shuffled_df['fold'] == i]
  unselected_rows = shuffled_df.loc[shuffled_df['fold'] != i]
  
  X_train = unselected_rows[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]
  y_train = unselected_rows['label']

  X_test = selected_rows[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]
  y_test = selected_rows['label']

  model = DecisionTreeClassifier(random_state=6)
  model.fit(X_train,y_train)
  score = model.score(X_test,y_test)
  
  print("Fold %d Accuracy: %0.2f"%(i,score))

Fold 1 Accuracy: 0.93
Fold 2 Accuracy: 1.00
Fold 3 Accuracy: 0.93
Fold 4 Accuracy: 1.00
Fold 5 Accuracy: 1.00
Fold 6 Accuracy: 0.93
Fold 7 Accuracy: 1.00
Fold 8 Accuracy: 1.00
Fold 9 Accuracy: 0.87
Fold 10 Accuracy: 0.93

In [24]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import make_scorer, precision_score, recall_score

# Load the iris dataset
iris = load_iris()

# Create the decision tree classifier
clf = DecisionTreeClassifier()

# Define the 10-fold cross-validation procedure
cv = KFold(n_splits=10, shuffle=True, random_state=1)

# Define the precision and recall scorers
precision_scorer = make_scorer(precision_score, average='macro')
recall_scorer = make_scorer(recall_score, average='macro')

# Evaluate the model using cross-validation with precision and recall
precision_scores = cross_val_score(clf, iris.data, iris.target, cv=cv, scoring=precision_scorer)
recall_scores = cross_val_score(clf, iris.data, iris.target, cv=cv, scoring=recall_scorer)

# Output the precision and recall scores for each fold
for i, (train_indexes, test_indexes) in enumerate(cv.split(iris.data)):
    print("Fold", i+1)
    print("Training samples:", len(train_indexes))
    print("Test samples:", len(test_indexes))
    print("Precision:", precision_scores[i])
    print("Recall:", recall_scores[i])
    print("------------------------------")

Fold 1
Training samples: 135
Test samples: 15
Precision: 1.0
Recall: 1.0
------------------------------
Fold 2
Training samples: 135
Test samples: 15
Precision: 0.8888888888888888
Recall: 0.9523809523809524
------------------------------
Fold 3
Training samples: 135
Test samples: 15
Precision: 0.9444444444444445
Recall: 0.9523809523809524
------------------------------
Fold 4
Training samples: 135
Test samples: 15
Precision: 1.0
Recall: 1.0
------------------------------
Fold 5
Training samples: 135
Test samples: 15
Precision: 1.0
Recall: 1.0
------------------------------
Fold 6
Training samples: 135
Test samples: 15
Precision: 0.9444444444444445
Recall: 0.9166666666666666
------------------------------
Fold 7
Training samples: 135
Test samples: 15
Precision: 1.0
Recall: 1.0
------------------------------
Fold 8
Training samples: 135
Test samples: 15
Precision: 0.7777777777777778
Recall: 0.7777777777777778
------------------------------
Fold 9
Training samples: 135
Test samples: 15
Precision: 0.8333333333333334
Recall: 0.9523809523809524
------------------------------
Fold 10
Training samples: 135
Test samples: 15
Precision: 0.9523809523809524
Recall: 0.8333333333333334
------------------------------

## เฉลยอาจารย์

In [25]:
from sklearn.metrics import accuracy_score
import numpy as np

In [26]:
test_fold = 1

In [27]:
test_data = shuffled_df[shuffled_df['fold']==test_fold]
training_data = shuffled_df[shuffled_df['fold']!=test_fold]

In [28]:
X_test = test_data.iloc[:,:-2]
y_test = test_data.iloc[:,-2]
X_train = training_data.iloc[:,:-2]
y_train = training_data.iloc[:,-2]

In [29]:
model = DecisionTreeClassifier(max_depth=2)

model.fit(X_train,y_train)

y_predict = model.predict(X_test)

In [30]:
acc = accuracy_score(y_test,y_predict)
print(f'accuracy of fold {test_fold} = {acc}')

accuracy of fold 1 = 0.8666666666666667

In [31]:
acc_fold=[]
for test_fold in range(1,11):
    test_data = shuffled_df[shuffled_df['fold']==test_fold]
    training_data = shuffled_df[shuffled_df['fold']!=test_fold]
    X_test = test_data.iloc[:,:-2]
    y_test = test_data.iloc[:,-2]
    X_train = training_data.iloc[:,:-2]
    y_train = training_data.iloc[:,-2]
    
    model = DecisionTreeClassifier(max_depth=2)
    model.fit(X_train,y_train)
    y_predict = model.predict(X_test)

    acc = accuracy_score(y_test,y_predict)
    print(f'accuracy of fold {test_fold} = {acc}')
    acc_fold.append(acc)

print(f'\naverage accuracy = {np.mean(acc)}')

accuracy of fold 1 = 0.8666666666666667
accuracy of fold 2 = 1.0
accuracy of fold 3 = 0.9333333333333333
accuracy of fold 4 = 1.0
accuracy of fold 5 = 0.9333333333333333
accuracy of fold 6 = 0.9333333333333333
accuracy of fold 7 = 0.9333333333333333
accuracy of fold 8 = 1.0
accuracy of fold 9 = 0.8666666666666667
accuracy of fold 10 = 0.9333333333333333

average accuracy = 0.9333333333333333

In [32]:
acc_fold=[]
for test_fold in range(1,11):
    test_data = shuffled_df[shuffled_df['fold']==test_fold]
    training_data = shuffled_df[shuffled_df['fold']!=test_fold]

    X_test = test_data.iloc[:,:-2]
    y_test = test_data.iloc[:,-2]
    X_train = training_data.iloc[:,:-2]
    y_train = training_data.iloc[:,-2]

    model = DecisionTreeClassifier(max_depth=2)
    model.fit(X_train,y_train)
    y_predict = model.predict(X_test)

    acc = accuracy_score(y_test,y_predict)
    print(f'accuracy of fold {test_fold} = {acc}')
    acc_fold.append(acc)

print(f'\naverage accuracy = {np.mean(acc_fold)}')

accuracy of fold 1 = 0.8666666666666667
accuracy of fold 2 = 1.0
accuracy of fold 3 = 0.9333333333333333
accuracy of fold 4 = 1.0
accuracy of fold 5 = 0.9333333333333333
accuracy of fold 6 = 0.9333333333333333
accuracy of fold 7 = 0.9333333333333333
accuracy of fold 8 = 1.0
accuracy of fold 9 = 0.8666666666666667
accuracy of fold 10 = 0.9333333333333333

average accuracy = 0.9400000000000001